<ul class="row no-bullet">
    <a href="/friends/old">
        <li class="hover-grey content-list">
            <i class="fi-universal-access">
                <span>access</span>
            </i>
        </li>
    </a>
    <a href="/friends/find">
        <li class="hover-grey content-list">
            <i class="fi-social-skillshare">
                <span>find friend</span>
            </i>
        </li>
    </a>
    <a href="/invite/">
        <li class="hover-grey content-list">
            <i class="fi-mail">
                <span>invite friend</span>
            </i>
        </li>
    </a>
</ul>