$def with (content)
<html>
<head>
    <title>ridicule</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="/static/css/foundation.css">
    <script src="/static/js/vendor/modernizr.js"></script>
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="tab-bar">
            <section class="left-small">
                <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="right tab-bar-section">
                <h1 class="title">ridicule</h1>
            </section>
        </nav>

        <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label>Foundation</label></li>
                <li><a href="#">The Psychohistorians</a></li>
                <li><a href="#">...</a></li>
            </ul>
        </aside>
        <section class="main-section">
            $:content
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>
<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/fastclick.js"></script>
<script src="/static/js/foundation.min.js"></script>
<script>
    $$(document).foundation();
</script>
</body>
</html>