<ul class="row no-bullet">
    <a href="/ridicule/my">
        <li class="hover-grey content-list">
            <i class="fi-page-multiple">
                <span>my</span>
            </i>
        </li>
    </a>
    <a href="/password/">
        <li class="hover-grey content-list">
            <i class="fi-shield">
                <span>password</span>
            </i>
        </li>
    </a>
    <a href="/nickname/">
        <li class="hover-grey content-list">
            <i class="fi-lock">
                <span>nickname</span>
            </i>
        </li>
    </a>
</ul>