<script type="text/template" id="contentTemplate">
    <form method="POST" style="padding-top:10px;">
        <div class="row">
            <div class="large-12 columns">
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input id="nickname" type="text" class="radius" placeholder="nickname" name="nickname" value="{{nickname}}">
                    </div>
                    <div class="small-2 columns">
                        <a id="is_nickname" class="button postfix radius" action="1">use nickname</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
<script src="/static/js/app/nickname.js"></script>