<script type="text/template" id="contentTemplate">
    <form id="friend_list">
        {{#friend_list}}
        <div class="row collapse">
            <div class="small-9 large-10 columns">
                <span class="prefix">{{name}}</span>
            </div>
            <div class="small-3 large-2 columns">
                <a class="button postfix read_open {{color}}" friend_id="{{id}}" action_status="{{action_status}}">
                    {{action}}
                </a>
            </div>
        </div>
        {{/friend_list}}
    </form>
</script>
<script src="/static/js/app/old_friend.js"></script>
