$def with (data)
<form method="POST">
    <fieldset>
        <legend>register</legend>
        <label>email
            <input class="radius" type="email" disabled name = "register_email" value="$data['email']">
        </label>
        <label>password
            <input class="radius" type="password" name = "password" placeholder="Inputs password">
        </label>
        <label>repeat password
            <input class="radius" type="password" name = "repeat_password" placeholder="Inputs password">
        </label>
        <button type="submit" class="tiny radius">Submit</button>
    </fieldset>
</form>